@import "tailwindcss";


.roboto-condensed-font {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
};
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
html, body {
  background-color: #000000;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.cascadia-code-font {
  font-family: "Cascadia Code", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.card {
  position: relative;
  z-index: 10;
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;

 
  background: rgba(128, 128, 128, 0.72);
  opacity: 0;
 
  border-radius: 12px;
  ; /* Slightly larger for outer blur */
  transition: opacity 0.3s ease, transform 0.3s ease;
  
}

.card:hover::before {
  opacity: 1;
  transform: scale(1.2);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);

  
}
